<footer>
 
  <!-- Footer -->
<div class="container">
    <div class="container__left">
        <div class="footer_logo">
          <a href="">
            <img src="/images/logocolor.png" alt="Company logo">
          </a>
        </div>
        <p class="logo__text">Unlock the Secrets of Global Cuisine with Dish<span class="new_line">Discoveries</span></p>
        <div class="icons">
            <div class="icon">
               <a href="https://www.linkedin.com/in/mohammed-ghani-7a721b31b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                 <img src="/images/linkden_logo.png" alt="Linkdln logo">
               </a>
            </div>
            <div class="icon">
               <a href="">
                 <img src="/images/insta_logo.png" alt="Instagram logo">
               </a>
            </div>
            <div class="icon">
               <a href="Wa.me/+923365635253">
                 <img src="/images/whatsapp_logo.png" alt="Whatsapp logo">
               </a>
            </div>
        </div>
    </div>
    <div class="container__right">
        <div class="links">
            <ul class="footer-links">
               <li><a href="/">Home</a></li>
               <li><a href="/search">Search</a></li>
               <li><a href="/supriseDish">SupriseDish</a></li>
            </ul> 
        </div>
        <div class="about_contact">
            <div class="about_us">
                <h3>About us</h3>
                <p>Welcome to Dish Discoveries! Explore global flavors with our diverse recipes, from quick meals to nutritious options. Discover new tastes and enjoy cooking with us!</p>
            </div>
            <div class="contact">
                <h3>Contact</h3>
                <p>mohammedghani452@gmail.com</p>
            </div>
        </div>
    </div>
</div>

</footer>

</main>
<script src="/css.js"></script>
</body>

</html>